# MongoDB cloud connection
MONGODB_URI=mongodb://chessweb_nonprod_app:Nguhotuongd23@ac-xfe0ixu-shard-00-00.fhkecft.mongodb.net:27017,ac-xfe0ixu-shard-00-01.fhkecft.mongodb.net:27017,ac-xfe0ixu-shard-00-02.fhkecft.mongodb.net:27017/?ssl=true&replicaSet=atlas-b2tw1e-shard-0&authSource=admin&retryWrites=true&w=majority&appName=atlas-shared-m0
MONGODB_DB_NAME=chessweb_dev

# Runtime
NODE_ENV=development